<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>503352741283-i6vtmv99lgfhte2q4i1q1k6c1os545ka.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503352741283-i6vtmv99lgfhte2q4i1q1k6c1os545ka</string>
	<key>API_KEY</key>
	<string>AIzaSyDCS7KrhMCZB03rUtPBK_oEAuu9ze52b9c</string>
	<key>GCM_SENDER_ID</key>
	<string>503352741283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Valse.iWordle</string>
	<key>PROJECT_ID</key>
	<string>iwordle</string>
	<key>STORAGE_BUCKET</key>
	<string>iwordle.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503352741283:ios:1cebfca63dddf41237de16</string>
</dict>
</plist>